body{
    background-image: url(download.jpeg);
    background-size: cover;
}
.au{
    color: white;
    background-color: black;

}
.ov{
    color: white;
}
.p{
    color: wheat;
}
.ww{
    color: white;
}
.pp{
    color: wheat;
}